* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v217_105 {
  width: 100%;
  height: 996px;
  background: rgba(255,254,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_106 {
  width: 614px;
  height: 579px;
  background: rgba(246,210,73,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 98px;
}
.v217_107 {
  width: 100%;
  height: 996px;
  background: url("../images/v217_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_115 {
  width: 609px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 345px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v217_116 {
  width: 653px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 193px;
  left: 345px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v217_122 {
  width: 217px;
  height: 937px;
  background: url("../images/v217_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 46px;
  overflow: hidden;
}
.v217_123 {
  width: 217px;
  height: 937px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v217_124 {
  width: 147px;
  height: 859px;
  background: url("../images/v217_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 33px;
  overflow: hidden;
}
.v217_125 {
  width: 61px;
  height: 50px;
  background: url("../images/v217_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_126 {
  width: 132px;
  height: 35px;
  background: url("../images/v217_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 4px;
  overflow: hidden;
}
.v217_127 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_128 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v217_129 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 42px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v217_130 {
  width: 134px;
  height: 35px;
  background: url("../images/v217_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 0px;
  overflow: hidden;
}
.v217_131 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_132 {
  width: 24px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v217_133 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 45px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v217_134 {
  width: 139px;
  height: 35px;
  background: url("../images/v217_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 0px;
  overflow: hidden;
}
.v217_135 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_136 {
  width: 26px;
  height: 23px;
  background: url("../images/v217_136.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3.5px solid rgba(255,255,255,1);
}
.v217_137 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 45px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v217_138 {
  width: 147px;
  height: 35px;
  background: url("../images/v217_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 0px;
  overflow: hidden;
}
.v217_139 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_140 {
  width: 27px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v217_141 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 45px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v217_142 {
  width: 80px;
  height: 35px;
  background: url("../images/v217_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 0px;
  overflow: hidden;
}
.v217_143 {
  width: 35px;
  color: rgba(246,210,73,1);
  position: absolute;
  top: 3px;
  left: 45px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v217_144 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_145 {
  width: 28px;
  height: 28px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v217_147 {
  width: 288px;
  height: 166px;
  background: url("../images/v217_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 1191px;
  overflow: hidden;
}
.v217_148 {
  width: 288px;
  height: 166px;
  background: url("../images/v217_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_149 {
  width: 288px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v217_150 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 37px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v217_151 {
  width: 191px;
  height: 66px;
  background: url("../images/v217_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 49px;
  overflow: hidden;
}
.v217_152 {
  width: 191px;
  height: 66px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v217_153 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 21px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v217_154 {
  width: 288px;
  height: 166px;
  background: url("../images/v217_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 583px;
  left: 1191px;
  overflow: hidden;
}
.v217_155 {
  width: 288px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v217_156 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 37px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v217_157 {
  width: 191px;
  height: 66px;
  background: url("../images/v217_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 49px;
  overflow: hidden;
}
.v217_158 {
  width: 191px;
  height: 66px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v217_159 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 21px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v217_108 {
  width: 288px;
  height: 491px;
  background: url("../images/v217_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 1191px;
  overflow: hidden;
}
.v217_109 {
  width: 288px;
  height: 271px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v217_110 {
  width: 222px;
  height: 79px;
  background: url("../images/v217_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 33px;
  overflow: hidden;
}
.v217_111 {
  width: 222px;
  height: 79px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v217_112 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 37px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v217_113 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 311px;
  left: 33px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v217_114 {
  width: 280px;
  height: 280px;
  background: url("../images/v217_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v217_513 {
  width: 373px;
  height: 182px;
  background: url("../images/v217_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 345px;
  overflow: hidden;
}
.v217_498 {
  width: 352px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v217_501 {
  width: 373px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v217_509 {
  width: 82px;
  height: 27px;
  background: url("../images/v217_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v217_508 {
  width: 20px;
  height: 20px;
  background: rgba(214,97,66,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v217_505 {
  width: 49px;
  color: rgba(214,97,66,1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v217_514 {
  width: 494px;
  height: 217px;
  background: url("../images/v217_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 345px;
  overflow: hidden;
}
.v217_500 {
  width: 352px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v217_503 {
  width: 494px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v217_510 {
  width: 82px;
  height: 27px;
  background: url("../images/v217_510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 0px;
  overflow: hidden;
}
.v217_511 {
  width: 20px;
  height: 20px;
  background: rgba(214,97,66,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v217_512 {
  width: 49px;
  color: rgba(214,97,66,1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
