* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v219_1898 {
  width: 100%;
  height: 1141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v219_1899 {
  width: 614px;
  height: 579px;
  background: rgba(246,210,73,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 1427px;
}
.v219_1900 {
  width: 584px;
  height: 1000px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 0px;
  overflow: hidden;
}
.v219_1901 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 825px;
  left: 960px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v219_1955 {
  width: 364px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 873px;
  left: 876px;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v219_1902 {
  width: 271px;
  height: 77px;
  background: url("../images/v219_1902.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 716px;
  left: 923px;
  overflow: hidden;
}
.v219_1903 {
  width: 271px;
  height: 77px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v219_1904 {
  width: 247px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 11px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v219_1905 {
  width: 635px;
  height: 260px;
  background: url("../images/v219_1905.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 740px;
  overflow: hidden;
}
.v219_1930 {
  width: 635px;
  height: 118px;
  background: url("../images/v219_1930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 0px;
  overflow: hidden;
}
.v219_1931 {
  width: 635px;
  height: 75px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v219_1932 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 41px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v219_1933 {
  width: 367px;
  color: rgba(0,0,0,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v219_1934 {
  width: 635px;
  height: 118px;
  background: url("../images/v219_1934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v219_1935 {
  width: 635px;
  height: 75px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v219_1936 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 41px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v219_1937 {
  width: 367px;
  color: rgba(0,0,0,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v219_1938 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 332px;
  left: 970px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v219_1939 {
  width: 1000px;
  height: 1000px;
  background: url("../images/v219_1939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 745px;
  overflow: hidden;
}
.v219_1940 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 406px;
  left: 118px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v219_1941 {
  width: 379px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 207px;
  left: 120px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v219_1952 {
  width: 200px;
  height: 200px;
  background: url("../images/v219_1952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 18px;
  overflow: hidden;
}
.v219_1953 {
  width: 250px;
  height: 250px;
  background: url("../images/v219_1953.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 891px;
  left: 334px;
  overflow: hidden;
}
.v219_1954 {
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 1438px;
}
.v220_162 {
  width: 100%;
  height: 141px;
  background: url("../images/v220_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v220_163 {
  width: 100%;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v220_164 {
  width: 696px;
  height: 55px;
  background: url("../images/v220_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 782px;
  overflow: hidden;
}
.v220_165 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 193px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_166 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 307px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_167 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_168 {
  width: 193px;
  height: 55px;
  background: url("../images/v220_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 503px;
  overflow: hidden;
}
.v220_169 {
  width: 193px;
  height: 55px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_170 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 43px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_171 {
  width: 369px;
  height: 51px;
  background: url("../images/v220_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 60px;
  overflow: hidden;
}
