* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v217_3 {
  width: 100%;
  height: 1720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_315 {
  width: 100%;
  height: 609px;
  background: url("../images/v217_315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1111px;
  left: 1px;
  overflow: hidden;
}
.v217_316 {
  width: 100%;
  height: 609px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}
.v217_317 {
  width: 100%;
  background: url("../images/v217_317.png");
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 60px;
  border: 2px solid rgba(255,255,255,0.800000011920929);
}
.v217_318 {
  width: 693px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 513px;
  left: 423px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v217_319 {
  width: 431px;
  height: 90px;
  background: url("../images/v217_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 92px;
  overflow: hidden;
}
.v217_320 {
  width: 304px;
  height: 77px;
  background: url("../images/v217_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1142px;
  overflow: hidden;
}
.v217_321 {
  width: 304px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v217_322 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 47px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v217_323 {
  width: 217px;
  height: 116px;
  background: url("../images/v217_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 130px;
  overflow: hidden;
}
.v217_324 {
  width: 131px;
  height: 40px;
  background: url("../images/v217_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 5px;
  overflow: hidden;
}
.v217_325 {
  width: 40px;
  height: 40px;
  background: url("../images/v217_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 91px;
  overflow: hidden;
}
.v217_326 {
  width: 40px;
  height: 40px;
  background: url("../images/v217_326.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 6px solid rgba(255,255,255,1);
}
.v217_327 {
  width: 16px;
  height: 16px;
  background: url("../images/v217_327.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 6px solid rgba(255,255,255,1);
}
.v217_328 {
  width: 42px;
  height: 40px;
  background: url("../images/v217_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v217_329 {
  width: 25px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 16px;
  border: 3px solid rgba(255,255,255,1);
}
.v217_330 {
  width: 8px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v217_331 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v217_332 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v217_333 {
  width: 217px;
  height: 201px;
  background: url("../images/v217_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 716px;
  overflow: hidden;
}
.v217_334 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v217_335 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v217_336 {
  width: 217px;
  height: 155px;
  background: url("../images/v217_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 981px;
  overflow: hidden;
}
.v217_337 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v217_338 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v217_339 {
  width: 217px;
  height: 246px;
  background: url("../images/v217_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 1246px;
  overflow: hidden;
}
.v217_340 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v217_341 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v217_354 {
  width: 614px;
  height: 579px;
  background: rgba(246,210,73,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 164px;
}
.v217_355 {
  width: 732px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 240px;
  left: 403px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v217_356 {
  width: 790px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 374px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v217_357 {
  width: 450px;
  height: 450px;
  background: url("../images/v217_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 544px;
  overflow: hidden;
}
.v217_246 {
  width: 302px;
  height: 77px;
  background: url("../images/v217_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 618px;
  overflow: hidden;
}
.v217_247 {
  width: 302px;
  height: 77px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v217_248 {
  width: 276px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 12px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v220_232 {
  width: 100%;
  height: 141px;
  background: url("../images/v220_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v220_233 {
  width: 100%;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v220_234 {
  width: 696px;
  height: 55px;
  background: url("../images/v220_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 782px;
  overflow: hidden;
}
.v220_235 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 193px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_236 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 307px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_237 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_238 {
  width: 193px;
  height: 55px;
  background: url("../images/v220_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 503px;
  overflow: hidden;
}
.v220_239 {
  width: 193px;
  height: 55px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_240 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 39px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_241 {
  width: 369px;
  height: 51px;
  background: url("../images/v220_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 60px;
  overflow: hidden;
}
