* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v217_833 {
  width: 100%;
  height: 2169px;
  background: rgba(255,254,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v220_58 {
  width: 100%;
  height: 395px;
  background: url("../images/v220_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1368px;
  left: 1px;
  overflow: hidden;
}
.v220_59 {
  width: 100%;
  height: 395px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px -20px 35px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v220_60 {
  width: 493px;
  height: 77px;
  background: url("../images/v220_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 522px;
  overflow: hidden;
}
.v220_61 {
  width: 493px;
  height: 77px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_62 {
  width: 420px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 35px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v220_63 {
  width: 100%;
  height: 609px;
  background: url("../images/v220_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1560px;
  left: 0px;
  overflow: hidden;
}
.v220_64 {
  width: 100%;
  height: 609px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}
.v220_65 {
  width: 100%;
  background: url("../images/v220_65.png");
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 60px;
  border: 2px solid rgba(255,255,255,0.800000011920929);
}
.v220_66 {
  width: 693px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 513px;
  left: 423px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v220_67 {
  width: 431px;
  height: 90px;
  background: url("../images/v220_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 92px;
  overflow: hidden;
}
.v220_68 {
  width: 304px;
  height: 77px;
  background: url("../images/v220_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1142px;
  overflow: hidden;
}
.v220_69 {
  width: 304px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_70 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 47px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v220_71 {
  width: 217px;
  height: 116px;
  background: url("../images/v220_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 130px;
  overflow: hidden;
}
.v220_72 {
  width: 131px;
  height: 40px;
  background: url("../images/v220_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 5px;
  overflow: hidden;
}
.v220_73 {
  width: 40px;
  height: 40px;
  background: url("../images/v220_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 91px;
  overflow: hidden;
}
.v220_74 {
  width: 40px;
  height: 40px;
  background: url("../images/v220_74.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 6px solid rgba(255,255,255,1);
}
.v220_75 {
  width: 16px;
  height: 16px;
  background: url("../images/v220_75.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 6px solid rgba(255,255,255,1);
}
.v220_76 {
  width: 42px;
  height: 40px;
  background: url("../images/v220_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v220_77 {
  width: 25px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 16px;
  border: 3px solid rgba(255,255,255,1);
}
.v220_78 {
  width: 8px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v220_79 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(255,255,255,1);
}
.v220_80 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v220_81 {
  width: 217px;
  height: 201px;
  background: url("../images/v220_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 716px;
  overflow: hidden;
}
.v220_82 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v220_83 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v220_84 {
  width: 217px;
  height: 155px;
  background: url("../images/v220_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 981px;
  overflow: hidden;
}
.v220_85 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v220_86 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v220_87 {
  width: 217px;
  height: 246px;
  background: url("../images/v220_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 1246px;
  overflow: hidden;
}
.v220_88 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v220_89 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v220_102 {
  width: 324px;
  height: 28px;
  background: url("../images/v220_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 103px;
  overflow: hidden;
}
.v220_103 {
  width: 22px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v220_104 {
  width: 287px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 37px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_105 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 275px;
  left: 103px;
  font-family: Josefin Sans;
  font-weight: SemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v220_106 {
  width: 846px;
  height: 824px;
  background: url("../images/v220_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 590px;
  overflow: hidden;
}
.v220_107 {
  width: 803px;
  height: 159px;
  background: url("../images/v220_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v220_108 {
  width: 255px;
  height: 25px;
  background: url("../images/v220_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v220_109 {
  width: 25px;
  height: 25px;
  background: url("../images/v220_109.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
}
.v220_110 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 40px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_111 {
  width: 377px;
  height: 25px;
  background: url("../images/v220_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1px;
  overflow: hidden;
}
.v220_112 {
  width: 21px;
  height: 25px;
  background: url("../images/v220_112.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
}
.v220_113 {
  width: 338px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 39px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_114 {
  width: 357px;
  height: 25px;
  background: url("../images/v220_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v220_115 {
  width: 25px;
  height: 25px;
  background: url("../images/v220_115.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
}
.v220_116 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 41px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_117 {
  width: 796px;
  height: 25px;
  background: url("../images/v220_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 7px;
  overflow: hidden;
}
.v220_118 {
  width: 12px;
  height: 20px;
  background: url("../images/v220_118.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
}
.v220_119 {
  width: 761px;
  color: url("../images/v220_119.png");
  position: absolute;
  top: 0px;
  left: 35px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_120 {
  width: 292px;
  color: rgba(224,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Bold Italic;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_121 {
  width: 845px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 1px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_122 {
  width: 389px;
  height: 911px;
  background: url("../images/v220_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 405px;
  left: 103px;
  overflow: hidden;
}
.v220_123 {
  width: 388px;
  height: 388px;
  background: url("../images/v220_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v220_124 {
  width: 275px;
  height: 55px;
  background: url("../images/v220_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 419px;
  left: 57px;
  overflow: hidden;
}
.v220_125 {
  width: 275px;
  height: 55px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_126 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 30px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v220_127 {
  width: 251px;
  height: 37px;
  background: url("../images/v220_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 494px;
  left: 69px;
  overflow: hidden;
}
.v220_128 {
  width: 24px;
  height: 32px;
  background: url("../images/v220_128.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3.5px solid rgba(0,0,0,1);
}
.v220_129 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 40px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_130 {
  width: 246px;
  height: 37px;
  background: url("../images/v220_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 551px;
  left: 71px;
  overflow: hidden;
}
.v220_131 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 41px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_132 {
  width: 26px;
  height: 32px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v220_133 {
  width: 389px;
  height: 280px;
  background: url("../images/v220_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 631px;
  left: 0px;
  overflow: hidden;
}
.v220_134 {
  width: 389px;
  height: 162px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v220_135 {
  width: 325px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 72px;
  left: 39px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_136 {
  width: 108px;
  color: rgba(0,0,0,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_137 {
  width: 139px;
  height: 55px;
  background: url("../images/v220_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 0px;
  overflow: hidden;
}
.v220_138 {
  width: 139px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_139 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 33px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_222 {
  width: 100%;
  height: 141px;
  background: url("../images/v220_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v220_223 {
  width: 100%;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v220_224 {
  width: 696px;
  height: 55px;
  background: url("../images/v220_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 782px;
  overflow: hidden;
}
.v220_225 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 193px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_226 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 307px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_227 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_228 {
  width: 193px;
  height: 55px;
  background: url("../images/v220_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 503px;
  overflow: hidden;
}
.v220_229 {
  width: 193px;
  height: 55px;
  background: rgba(246,210,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v220_230 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 39px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v220_231 {
  width: 369px;
  height: 51px;
  background: url("../images/v220_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 60px;
  overflow: hidden;
}
